<?php

/** Переименовать в config.php */
/** Выполнить composer i */

require_once 'vendor/autoload.php';

/**
 * General information:
 * Bot API:            https://core.telegram.org/bots/api
 * Bot Code Examples:  https://core.telegram.org/bots/samples#dev_page_title
 */
const BASE_URL = 'https://api.telegram.org/bot';

const FROM_ID = ______; // ID вашего аккаунта, можно посмотреть в массиве ['from']['id']

/**
 * Логин: ...
 *
 * Привязка URL к вебхука:
 * https://api.telegram.org/bot{{EXAMPLE_TOKEN }}/setWebhook?url={{ URL YOUR SITE, https - required }}
 *
 * Проверка статуса вебхука:
 * https://api.telegram.org/bot{{EXAMPLE_TOKEN }}/getWebhookInfo
 *
 * Удалить вебхук:
 * https://api.telegram.org/bot{{EXAMPLE_TOKEN }}/setWebhook
*/
const EXAMPLE_TOKEN = '...'; // Токен (создается в BotFather)



// Для бота синоптика, помимо токена в самом телеграмме необходимо получить токен в сервисе OpenWeather(нужно зарегистрировать).
// Пример запроса: https://api.openweathermap.org/data/2.5/weather?appid={OPEN_WEATHER_MAP_TOKEN}&lang=ru&q=Санкт-Петербург&units=metric



// Для подключения к БД (используется в некоторых ботах, например бот переводчик)
const PARAMS_DB = [
    'type' => 'mysql',
    'host' => 'localhost',
    'name' => '{DB_NAME}',
    'port' => '{DB_PORT}',
    'user' => '{DB_USER}',
    'password' => '{DB_PASSWORD}',
    'options' => [
        PDO::ATTR_DEFAULT_FETCH_MODE => PDO::FETCH_ASSOC,
        //PDO::ATTR_ERRMODE => PDO::ERRMODE_EXCEPTION // формирование исключений для PHP < v.8
    ],
];

